/*****************************/
/*            all            */
/*****************************/
.ui-loading .ui-loader .ui-icon-loading
{
    display:none;
}
/*****************************/
/*            all            */
/*****************************/


/*****************************/
/*            login          */
/*****************************/


.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

input[type=email], input[type=password], input[type=text] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}
/*****************************/
/*            login          */
/*****************************/


/*****************************/
/*            main           */
/*****************************/

/**********Heat Map***********/
/*#cal-heatmap {
    margin-top: 30px;
}*/

.graph-label {
    font-size: 25px !important;
}

.cal-heatmap-container 
.graph-subdomain-group rect:hover {
    stroke: none !important;
    stroke-width: 0 !important;
}

#cal-heatmap {
    background-color: white;
}
/********End Heat Map*********/

/**********User info**********/
.user-info {
    text-align: center;
    font-family: Arial;
    padding: 5%;
}

.user-info p {
    margin: 2%;
}

.name {
    font-size: 120%;
}

.age {
    font-size: 110%;
    color: grey;
}

.brace-off {
    font-size: 110%;
    color: grey;
}
/**********End User info**********/

/**************Misc***************/

#LogoutBtn {
    margin-top: 5%;
    margin-bottom: 5%
}

/************End Misc*************/


/*****************************/
/*            main           */
/*****************************/






